@media screen and (max-width:1200px){
    *{
        padding: 0%;
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        background-color: #8800c7;
    }
    .header{
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    .header .text{
        color: #ffffff;
        font-size: 1.7rem;
        text-align: center;
        padding: 2px;
        font-family: 'Kalnia', sans-serif;
        margin-left: 20px;
        height: 100%;   
    }
    .header .manu ul {
        list-style-type: none;
        display: flex;
        height: 100%;
    }
    .header .manu ul li {
        padding-top: 18px;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .header .manu ul li a{
        font-weight: 500;
        color: #f3f2f2;
        font-family: 'Roboto Slab', serif;
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
        text-decoration: none;
    }
    
    .ch{
        display: inline-block;
    }
    .ch::after{
        content: '';
        display: block;
        width: 0;
        height: 5px;
        background:  #fbbede ;
        transition: width .2s;
    }
    .ch:hover::after{
        width: 100%;
    }
    .home{
        margin: auto;
        width: 90%;
        margin-top: 40px;
        margin-bottom: 40px;
        height: 600px;
        display: flex;
        border-radius: 20px;
        justify-content: space-between;
        padding: 10px;
        /* border-left: 1px solid #fbbede;
        border-right: 1px solid #fbbede; */
        /* border-top: 9px solid #fbbede;
        border-bottom: 9px solid #fbbede; */
    }
    
    .home .home-img{
        height: 100%;
        width: 80%;
        display: flex;
    }
    .home .home-img img{
        width: 30rem;
        margin: auto;
        border: 5px solid #fbbede;
        border-radius: 50%;
        height: 30rem;
    
    }
    .home .home-text{
        text-align: left;
        margin:6rem auto;
    }
    .home .home-text h4{
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif ;
    
    }
    .home .home-text h1{
        color:   white;
        font-family: 'Kalnia', sans-serif;
        font-size: 4rem;
    }
    .home .home-text h1 span{
        color:  #06114f;
        font-family: 'Kalnia', sans-serif;
        font-size: 4rem;
    }
    .home .home-text p{
        padding-top: 1rem;
        font-family: 'Roboto Slab', serif ;
        font-size: 1rem;
    }
    .home .home-text .btn{
        padding-top: 2rem;
    }
    .home .home-text .btn button a{
        background: #06114f;
        text-decoration: none;
        color: white;
    }
    .home .home-text .btn button{
        height: 3rem;
        width: 8rem;
        font-size: 1rem;
        border: none;
        border-radius: 20px;
        font-family: 'Roboto Slab', serif ;
        padding: 10px;
        background: #06114f;
        color: white;
    
    }
    
    /*  projects  */
    .projects{
        height: 900px;
        width: 100%;   
        padding-top: 40px;
        z-index: 1;
    
    }
    .projects h1{
        text-align: center;
        color: #06114f;
        background-color: white;
        font-size: 5rem;
    }
    .projects .container-project{
        width: 90%;
        margin: auto;
        height: 800px;
        display: flex;
        
    }
    .projects .container-project .r-1{
        width: 30%;
        height: 600px;
        align-items: center;
        justify-content: center;
        margin: auto;
        background-color: #06114f;
        display: block;
        z-index: 3;
    }
    .projects .container-project .r-1 .containerimg{
        width: 100%;
        height: 300px;
        background-color: #e70077;
    }
    .projects .container-project .r-1 .containerimg img{
        width: 100%;
        height: 100%;
    }
    .projects .container-project .r-1 .containertext{
        width: 100%;
        height: 300px;
        background-color: rgb(250, 250, 250);   
        padding: 10px; 
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .projects .container-project .r-1 .containertext h1{
        font-size: 2.5rem;
        background-color: white;
        color: #06114f;
        font-weight: 800;
        font-family:'Kalnia', sans-serif;
        margin: auto;
    }
    .projects .container-project .r-1 .containertext p{
        font-size: 1.4rem;
        font-weight: 400;
        margin: auto;
        text-align: center;
        background-color: white;
        font-family: 'Roboto Slab', sans-serif ;
    }
    .projects .container-project .r-1 .containertext button{
        font-size: 2rem;
        border: none;
        padding: 10px;
           color: white;
    }
    .projects .container-project .r-1 .containertext button a{
        text-decoration: none;
        color: white;
        margin: auto;
       
    }
    
    
    /* Educaion */
    .Educaion{
        height: 900px;
        width: 100%;
        
    }
    .Educaion h1{
        text-align: center;
        color: #06114f;
        background-color: white;
        font-size: 5rem;
    }
    .eduinfo{
        display: flex;
        text-align: center;
        margin: 2rem;
    
        background-color: #8800c7;
    }
    .edu-logo{
    }
    .edu-logo img{
        height: 280px;
        width: 400px;
        object-fit: cover;
        border-radius: 50px;   
        padding-top: 20px; 
    }
    .edu-contant{
        padding-left: 1rem;
        padding-top: 2.3rem;
    
    }
    .edu-contant h1{
        background-color: #8800c7;
        color: white;
        font-size: 3.5rem;
        text-align: left;
    }
    .edu-contant h3{
        color: white;
        font-size: 1.8rem;
        text-align: left;   
    }
    .edu-contant h5{
        
        color: white;
        font-size: 1.2rem;
        text-align: left;
    }
    
    /*  contact  */
    .contact{
        height: 600px;
        width: 100%;
    }
    .forminfo{
        display: flex;
    }
    .forminfo .form{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 2rem;
    
    }
    .forminfo .form label{
        font-size: 2.5rem;
        font-family: 'Roboto Slab', serif ;
    
        color: white;
    }
    .forminfo .form input{
        font-size: 2rem;
        font-family: 'Roboto Slab', serif ;
        padding: 1rem;
        border: none;
        margin: 1rem 0;
        background-color: #f3f2f2;
    }
    .forminfo .form textarea{
        font-size: 1rem;
        padding: 1rem;
        font-size: 1.7rem;
        font-family: 'Roboto Slab', serif ;
    
        border: none;
        margin: 1rem 0;
        font-family: 'Roboto Slab', serif ;
        background-color: #f3f2f2;
    }
    .forminfo .form button{
        margin: 1rem 0;
        border: none;
        border-radius: 20px;
        height: 3rem;
        width: 100%;
        font-size: 1rem;
        margin: 2rem 1rem 0 0;
        background-color: #f3f2f2;
        font-family: 'Roboto Slab', serif ;
    
    }
    .formimg{
    
        width: 50%;
        height: 100%;
        padding: 1rem;
    }
    .formimg img{
        width: 100%;
        height: 100%;
    }
    /*Footer*/
    footer{
        background-color: #f3f2f2;
    }
    .social-footer {
        padding: 1rem;
        background: #f3f2f2;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
      }
      .social-footer .social-footer-left h1{
        background-color: white;
        color: #06114f;
      }
      
      .social-footer .social-footer-icons li{
        margin-right: 2rem;
        background-color: #f3f2f2;
      }
    
      .social-footer .social-footer-icons ul{
        display: flex;
        background-color: #f3f2f2;
        text-decoration: none;
      }
      .social-footer .social-footer-icons i a{
        text-decoration: none;
      } 
      .social-footer .social-footer-icons i {
        font-size: 2rem;
        color: #06114f;
        background-color: #f3f2f2;
    }
    ::marker{
         color: white;
    }
      
      .social-footer .social-footer-icons .fa:hover {
        color: #4a4a4a;
        transition: color 0.3s ease-in;
      }
    
      
            
}